body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: unset;
    font-family: 'Poppins',sans-serif;
    background-color: white;
    width: 1200px;
    height: 900px;
    
}

.container{
    background-image: url(./img/WhatsApp\ Image\ 2023-08-31\ at\ 23.02.43.jpg);
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
    width: 1100px;
}

.overlay{
    height: 600px;
    width: 1100px;
    background-color: rgba(252, 130, 130, 0.9);
}
.aside{
    margin-left: 5%;
    margin-top: 20%;
    float: left;
    color: white;
    text-align: left;
    justify-content: center;
}

.aside h1{
    font-weight: bolder;
    font-size: 40px;
}

.aside p{
    font-size: 13px;
}

.form{
    float: right;
    text-align: center;
    height: 200px;
    width: 550px;
    margin-left: 50px;
    margin-top: -10px;

}

.form p{
    
    background-color: hsl(248, 32%, 49%);
    margin-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: white;
    margin-top: 100px;
    box-shadow:  0px 5px 8px black;
    border: none;
    margin-bottom: 20px;
    
}

.form form{
    background-color: white;
margin-right: 20%;
padding-top: 5%;
padding-bottom: 5%;
border-radius: 3%;    
box-shadow:  0px 5px 8px black;
border: none;
}


label{
    position: relative;
}

label:before{
    content: "";
    position: absolute;
    left: 90%;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("./icon-error.svg") center/contain no-repeat;
} 

.form form input{
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}
.form .submit{
    height: 40px;
    background-color: hsl(154, 82%, 51%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    border: none;
    box-shadow:  0px 3px 8px black;
    text-align: center;
}

.form form h6 a{
    color: red;
}


.authorize{
    color: white;
    margin-left: -230px;
    margin-top: 20px;
    font-size: 16px;

@media screen { 
    min-width:900px;
    max-width: 1000px;
} }